* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: black;
    background-image: url(https://pub-static.fotor.com/static/web/site/features/backgrounds/images/Fotor-wall-background-image-6.jpg)
}

#head {
    position: absolute;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background:black;   
}

#logo {
    float: left;
    width: 300px;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 100px;
    color:white;
    text-align: center;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 960px;
    clear: both;
    margin: 0 auto;
}



h1 h2 h3 p {
    margin-bottom: 20px;
}


p:last-child {
    margin-bottom: 0;
}



h1 h2 h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 1px solid black;
}



h2
h3 {
    font-size: 20px;
}
   
nav {
    float: right;
    margin-top: 50px;
}


nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
}

nav a:first-child {
    border-left: 0 none;
}



.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 100%;
    max-width: 270px;
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border: 1px solid black;

}

h3,
.sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 1px solid black;
}


.social {
    width: 60px;
    height: 60px;
    margin-top: 7;
    margin-right: 4;
}

.social:first-child {
    margin-right: 0;
}

#main-container {
    padding-top: 130px;
   
}

.main-section {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin-right: 20px;
    background: #fff;
    border: 1px solid #ddd;
    background: #f3f1f1;
}


.image{
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.image:nth-child(even) {
    margin-right: 40px;
}

.image img {
    width: 100%;
    border: 0 none;
    opacity: 0.9;
}

.image h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: white;
    background: black;
    border-bottom: 0;
}


#form ul {
    margin-bottom: 20px;
}

#form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input [type=email],
textarea {

    display: block;
    width: 100%;
}

input [type=text],
input [type=email], 
textarea {

    height: 30px;
    padding: 0 10px;
    font-size: 10px;
}

input [type=submit] {
    padding: 10 30px;
    font-size: 15px;
    cursor: pointer;
    color: black;
    background: black;
    
}

textarea {
    height: 200px;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: white;
    text-align: center;
    background:black;
    border-top: 4px solid black;
}

